# Exclude all CMake-related files and directories
CMakeFiles/
CMakeCache.txt
CMakeLists.txt
cmake_install.cmake
install_manifest.txt
Makefile
*_cmake.c

File/CmakeFiles/
File/CMakeCache.txt
File/CMakeLists.txt
File/cmake_install.cmake
File/install_manifest.txt
File/Makefile
File/*_cmake.c

Main/CMakeFiles/
Main/CMakeCache.txt
Main/CMakeLists.txt
Main/cmake_install.cmake
Main/install_manifest.txt
Main/Makefile
Main/*_cmake.c

Menu/CMakeFiles/
Menu/CMakeCache.txt
Menu/CMakeLists.txt
Menu/cmake_install.cmake
Menu/install_manifest.txt
Menu/Makefile
Menu/*_cmake.c

Utility/CMakeFiles/
Utility/CMakeCache.txt
Utility/CMakeLists.txt
Utility/cmake_install.cmake
Utility/install_manifest.txt
Utility/Makefile
Utility/*_cmake.c

#Exclude library files
Menu/*.a

File/*.a

Utility/*.a

# Include C source files and header files
!Main/*.c

!File/*.c
!File/*.h

!Menu/*.c
!Menu/*.h

!Utility/*.c
!Utility/*.h
