# Exclude all CMake-related files and directories
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile
*_cmake.c

*/CmakeFiles/
*/CMakeCache.txt
*/cmake_install.cmake
*/install_manifest.txt
*/Makefile
*/*_cmake.c

# Exclude library files
*/*.a

# Exclude executable files
*program

# Include cmake lists
!CMakeLists.txt
!*/CMakeLists.txt

# Include C source files and header files
!*.c

!*/*.c
!*/*.h

